<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>잼민정음</title>
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/style.css" rel="stylesheet" />
	<link href="/css/login.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> 
</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">잼민정음</a>
                <div class="nav-main">
                    <ul class="nav nav-icons">
                        <li class="calc"><a href="/calc"><i></i>연산문제지</a></li>
                        <li class="answer"><a href="/answer"><i></i>정답지</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron masthead">
        <div class="container">
            <div class="text">
                <h2>무료 초등국어 받아쓰기 프린트 학습지</h2>
                <h1>잼민정음</h1>
                <p>
                    교과서 진도에 맞춘 전학년 받아쓰기 문제지를
                </p>
                <p>
                    무료로 제작, 프린트할 수 있습니다.
                </p>
            </div>
        </div>
    </div>
    <div class="jumbotron footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span5">
                    <ul class="breadcrumb">
                        <li><a href="/notice">공지사항</a><span class="divider">|</span></li>
                        <li><a href="/faq">자주 묻는 질문</a>
                    </ul>
                </div>
                <div class="span7">
                    <div style="text-align:right;">
                        ©Copyright all rights reserved by jammin.com.
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!--custom js 추가-->
	<script src="/js/scripts.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>